@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.0.7/css/all.css');

/* Tagline styles */
.tagline {
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  /* Other styles for tagline */
}

.tagline p {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px; /* Adjust as needed */
}

/* Body styles */
body {
  background: #F0F8EA;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

/* Background picture styles */
.bgpic {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url('/assets/background.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.bgpic::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* Overlay styles */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

/* Container styles */
.container {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}

/* Header styles */
header {
  background: #312f28;
  color: #EBEBD3;
  padding: 1.5em 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

/* Link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Logo styles */
.logo {
  float: left;
  font-size: 1.5rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.logo--icon {
  position: relative;
  float: left;
  width: 30px;
  margin: 0;
  padding: 0;
  right: 10px;
}

.logo span {
  font-weight: 400;
}

/* Main styles */
.main {
  padding: 100px;
  text-align: center;
  color: whitesmoke;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Site navigation styles */
.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  font-size: 1.0rem;
  background: #464655;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
  transform: translateY(5px);
}

.site-nav--open {
  clip-path: circle(250% at top right);
  /*   display: block; */
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #fff;
  display: block;
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #E4B363;
  color: #464655;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255, 255, 255, 0.4);
}

a#active-page,
a#rcp {
  font-weight: bold;
  background-color: #333;
}

/* Menu toggle styles */
.menu-toggle {
  padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

/* Media query for larger screens */
@media (min-width: 700px) {
  .menu-toggle {
    display: none;
  }

  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
  }

  .site-nav li {
    display: inline-block;
    border: none;
  }

  .site-nav a {
    padding: 0;
    margin-left: 3em;
  }

  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }

  .site-nav--icon {
    display: none;
  }
}

/* Additional main styles */
.main {
  padding: 100px;
  text-align: center;
  color: whitesmoke;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
}

/* Search container styles */
.search-container {
  width: 490px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  margin-bottom: 20px; /* Adjust the margin as needed */
  opacity: 90%;
}

input#search-bar {
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 0px solid;
  border-radius: 25px;
  outline: none;
}

input#search-bar:focus {
  border: 1px solid #f5f5f5;
  transition: 0.35s ease;
  color: #000000;
}


input#search-bar::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

input#search-bar::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

input#search-bar:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

/* Search icon styles */
.search-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right position */
  transform: translateY(-50%);
  width: 75px;
  height: 75px;
}

/* Grid styles */
.grid-container {
  display: inline-grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
  grid-gap: 1.5rem;
}
  

.recipe-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: black;
  border-radius: 4px;
  border: 6px solid #EAEAEA;
  padding: 1rem;
}

/* Grid items styles */
.dish-preview {
  width: fit-content;
  z-index: 100;
  width: 12.5rem;
}

.dish-info {
  text-align: center;
}

.dish-name {
  font-size: 20px;
}

.dish-button {
  color: #fff;
  background-color: #312f28;
  border-radius: 1rem;
  width: 11rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Footer styles */
footer {
  background: #312f28;
  color: #EBEBD3;
  padding: 1.5em;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}

footer::before {
  content: '';
  clear: both;
  display: block;

}

/* Bottom container styles */
.bottom-container {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}

/* Follow link styles */
#follow {
  text-transform: uppercase;
  text-decoration: none;
}
